/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #222; /* Cinza quase preto para fundo */
    color: #fff; /* Cor do texto */
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Altura mínima da visualização */
}

/* Container styles */
.container {
    width: 100%;
    max-width: 800px; /* Largura máxima do contêiner */
    padding: 40px; /* Padding aumentado */
    border-radius: 10px; /* Border radius aumentado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
    text-align: center;
    background-color: #555; /* Cor de fundo mais escura para o container */
    margin: 0 auto; /* Centraliza horizontalmente */
}

/* Heading styles */
h1 {
    margin-bottom: 20px;
    color: #fff; /* Cor do título */
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #ccc; /* Cor do rótulo */
}

input[type="number"],
input[type="text"],
button {
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

input[type="number"]:focus,
input[type="text"]:focus,
button:focus {
    outline: none;
    border-color: #0056b3; /* Azul corporativo */
}

button {
    cursor: pointer;
    background-color: #0056b3; /* Azul corporativo */
    color: #fff;
    border: none;
}

button:hover {
    background-color: #003366; /* Azul corporativo mais escuro */
}

/* Result and image styles */
#result,
img {
    margin: 30px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    display: block;
}
