/* Página de Objetivos */
#objectives {
    background: #fff;
    padding: 50px 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

#objectives:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

#objectives h2 {
    text-align: center;
    font-size: 2.5em;
    color: var(--primary-color);
    margin-bottom: 30px;
    font-weight: 600;
}

.experience, .goals, .achievements {
    margin-bottom: 40px;
}

h3 {
    font-size: 2em;
    color: var(--primary-color);
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    font-size: 1em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    #objectives {
        padding: 30px 15px;
    }

    #objectives h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.8em;
    }

    p, li {
        font-size: 0.9em;
    }
}
